html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: var(--color--background-body);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  scroll-margin-top: 4rem;
}
@media (max-width: 560px) {
  section {
    scroll-margin-top: 5rem;
  }
} ;
