.projects-titulo {
  font-family: sans-serif;
  text-align: center;
  color: var(--color--Letras);
  font-size: 2rem;
  margin: 0;
}
.projects-content {
  font-family: sans-serif;
  color: var(--color--Letras);
  width: 100%;
  margin: auto;
}
.subtitulo-projects {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 3rem;
}

.list-projects {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 30%);
  gap: 30px;
  place-content: center;
}
.projects__item {
  font-family: monospace;
  color: var(--color--Secundario);
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.projects__item img {
  width: 100%;
  transition: all 1s;
}
.projects-item-description {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.761);
  top: 300px;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.9rem;
}
.projects__item:hover .projects-item-description {
  visibility: visible;
  transition: all 0.5s;
  opacity: 1;
  transform: translateY(-300px);
}
.projects__item:hover .projects__item-img {
  transition: all 1s;
  border-radius: 10px;
  transform: scale(1.3);
}
.projects__item__description-titulo {
  height: 10px;
}
.project-bottom-container {
  margin-top: 10px;
}
.project-bottom-container a {
  text-decoration: none;
  border: 1px solid #000;
  background-color: var(--color--backgrounds);
  color: var(--color--Secundario);
  padding: 5px 5px;
  margin: 0 10px;
}
.project-bottom-container a:hover {
  color: var(--color--Principal);
}
@media (max-width: 1084px) {
  .list-projects {
    grid-template-columns: repeat(auto-fill, 31%);
    gap: 20px;
  }
  .projects__item__description-titulo {
    margin: 0;
    align-items: center;
  }
  .projects-item-description {
    font-size: 0.7rem;
  }
}

@media (max-width: 800px) {
  .list-projects {
    grid-template-columns: repeat(auto-fill, 45%);
    gap: 20px;
  }
  .projects-item-description {
    font-size: 2vw;
  }
}
@media (max-width: 550px) {
  .projects {
    text-align: center;
  }
  .subtitulo-projects {
    margin-left: 0;
  }
  .projects-item-description {
    font-size: 3vw;
  }
  .project-bottom-container {
    word-spacing: 1px;
  }
  .projects-titulo {
    font-size: 1.7rem;
  }
  .list-projects {
    width: 100%;
    grid-template-columns: repeat(auto-fill, 90%);
  }
}
